<html>
  <head>
    <title>Orwell</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    Hello little brother.
    <script src="js/main.js"></script>
  </body>
</html>