<html>

<head>
  <title>Orwell</title>
  <link rel="stylesheet" type="text/css" href="/public/css/style.css" />

  <link rel="shortcut icon" href="">
</head>

<body>

  <!-- Tracking JS Demo Code -->
  <!-- <div class="demo-title">
    <p><a href="http://trackingjs.com" target="_parent">tracking.js</a> － get user's webcam and detect faces</p>
  </div>

  <div class="demo-frame">
    <div class="demo-container">
      <video id="video" width="320" height="240" preload autoplay loop muted></video>
      <canvas id="canvas" width="320" height="240"></canvas>
    </div>
  </div> -->

  <!-- Alex's Current Social Media Page -->
  <div class="navbar">
    <div class="imgbox">
      <img class="center-fit" src="https://cdn.glitch.com/56c0ccab-768c-4f20-be32-abced4f3736f%2FScreen%20Shot%202018-04-28%20at%205.51.00%20PM.png?1524963085376">
    </div>
  </div>
  <div class="main">
    <h1></h1>
    <div class="imgbox">
      <img class="center-small" src="https://cdn.glitch.com/56c0ccab-768c-4f20-be32-abced4f3736f%2F1.png?1524965326918">
      <img class="center-small" src="https://cdn.glitch.com/56c0ccab-768c-4f20-be32-abced4f3736f%2F2.png?1524965329297">
      <img class="center-small" src="https://cdn.glitch.com/56c0ccab-768c-4f20-be32-abced4f3736f%2F3.png?1524965332587">
    </div>
  </div>


  <script type="text/javascript" src="/node_modules/tracking/build/tracking-min.js"></script>
  <script type="text/javascript" src="/node_modules/tracking/build/data/face-min.js"></script>
  <script type="text/javascript" src="/node_modules/dat.gui/build/dat.gui.min.js"></script>
  <script type="text/javascript" src="/node_modules/tracking/examples/assets/stats.min.js"></script>
  <script type="text/javascript" src="/public/js/main.js"></script>
</body>

</html>