<html>
  <head>
    <title>Orwell</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />

    <link rel="shortcut icon" href="">
  </head>
  <body>

  <div class="demo-title">
    <p><a href="http://trackingjs.com" target="_parent">tracking.js</a> － get user's webcam and detect faces</p>
  </div>

  <div class="demo-frame">
    <div class="demo-container">
      <video id="video" width="320" height="240" preload autoplay loop muted></video>
      <canvas id="canvas" width="320" height="240"></canvas>
    </div>
  </div>


    <script type="text/javascript" src="/node_modules/tracking/build/tracking-min.js"></script>
    <script type="text/javascript" src="/node_modules/tracking/build/data/face-min.js"></script>
    <script type="text/javascript" src="/node_modules/dat.gui/build/dat.gui.min.js"></script>
    <script type="text/javascript" src="/node_modules/tracking/examples/assets/stats.min.js"></script>
    <script type="text/javascript" src="/public/js/main.js"></script>
  </body>
</html>