<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../public/css/social.css">
  <title>Orwell</title>
</head>
<body>
  <header class="header">
    <div class="inline-wrapper">
      <div class="header-logo">
        <img class="header-logo-image" src="https://img1.cgtrader.com/items/175667/2975b0ecc5/eyeball-3d-model-low-poly-obj-fbx-ma-mb.png" alt="Orwell">
        <span class="header-logo-text">orwell</span>
      </div>
    </div>
    <div class="inline-wrapper" id="header-search-wrapper">
      <div class="header-search">
        <input type="text" name="search-bar" placeholder="search">
      </div>
    </div>
    <div class="inline-wrapper" id="header-menu-wrapper">
      <div class="header-menu">
        <div class="header-menu-icon"></div>
        <div class="header-menu-icon"></div>
        <div class="header-menu-icon"></div>
      </div>
    </div>
  </header>
</body>
</html>
