body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

.inline-wrapper {
  display: inline-block; }

.subtitle {
  font-size: 16px;
  color: grey;
  margin-bottom: 20px; }

p {
  font-size: 14px; }

#header {
  background-color: #7A86CC;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  index: 99; }
  #header .header-logo {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0 25px;
    align-items: center;
    line-height: 70px; }
    #header .header-logo .header-logo-text {
      color: white;
      font-size: 24px;
      padding-left: 10px;
      vertical-align: middle; }
    #header .header-logo .header-logo-image {
      display: inline-block;
      font-size: 2em;
      color: white; }

#header-search-wrapper {
  float: right; }
  #header-search-wrapper .header-search {
    line-height: 70px;
    vertical-align: middle;
    margin: 0 15px; }
    #header-search-wrapper .header-search input {
      border-radius: 10px;
      border: none;
      width: 250px;
      padding: 5px 10px; }

#header-menu-wrapper {
  float: right;
  height: 100%; }
  #header-menu-wrapper .header-menu {
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    height: 100%;
    align-items: center; }
  #header-menu-wrapper .header-menu-icon {
    font-size: 1.5em;
    color: white;
    padding: 0 10px; }

#social-media-page {
  background: white; }

#main {
  height: 100%;
  width: 100vw;
  padding-top: 70px;
  background-color: #D6DEEA; }
  #main #main-wrapper {
    padding: 2% 10%; }
    #main #main-wrapper #main-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row; }
      #main #main-wrapper #main-content .content-left {
        display: flex;
        flex-direction: column;
        flex-grow: 1.5;
        height: 100%;
        margin-right: 20px;
        max-width: 60%; }
      #main #main-wrapper #main-content .content-right {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
        max-width: 40%; }

.card {
  padding: 30px 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: white; }

.advertisement-card {
  display: flex;
  flex-direction: column; }

.post-pic {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  vertical-align: middle; }

.post-name {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
  margin: 0 5px; }

.post-picture-single img {
  width: 100%; }

.post-picture-gallery {
  display: flex;
  flex-direction: row;
  width: 100%; }
  .post-picture-gallery .post-picture-gallery-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 10px; }
  .post-picture-gallery .post-picture-gallery-right {
    display: flex;
    flex-direction: column;
    width: 50%; }
  .post-picture-gallery img {
    width: 100%; }
    .post-picture-gallery img:first-child {
      margin-bottom: 10px; }

.post-react {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .post-react .post-react-icon {
    color: #7A86CC;
    font-size: 1.5em;
    margin: 0 10px; }

.post-comment textarea {
  width: 100%;
  resize: none;
  border: none;
  background-color: #ececec;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

.trending-persons-card {
  background-color: white;
  padding: 20px 40px;
  line-height: 20px; }
  .trending-persons-card .trending-person {
    margin: 10px 0; }
    .trending-persons-card .trending-person img {
      display: inline-block;
      width: 25px;
      height: 25px;
      vertical-align: middle;
      border-radius: 20px;
      margin-right: 5px; }
    .trending-persons-card .trending-person p {
      display: inline-block;
      margin: 0; }
    .trending-persons-card .trending-person .add-person-icon {
      color: #7A86CC;
      font-size: 1.5em;
      display: inline-block;
      vertical-align: middle;
      float: right; }

canvas {
  width: 100%;
  height: 100%; }

.hide {
  display: none; }

#myCanvas {
  position: fixed;
  width: 100vw !important;
  height: 100vh !important;
  z-index: -2; }

#whos-watching {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white; }
  #whos-watching #prompt {
    margin: 0; }
  #whos-watching #prompt-input {
    background-color: black;
    border: none;
    border-bottom: solid 2px white;
    width: 500px; }
  #whos-watching #prompt-submit {
    background-color: black;
    border: none;
    color: white; }

.hide {
  display: none; }

/*# sourceMappingURL=social.css.map */
