$orwell-lightgrey: #f5f5f5;
$orwell-grey: #e6e6e6;
$orwell-darkgrey: grey;
$orwell-white: white;
$sans: 'Lato', sans-serif;
$monospace: 'Source Code Pro', monospace;

// GLOBAL CSS
body {
  margin: 0;
  background-color: black;
}

.inline-wrapper {
  display: inline-block;
}

.subtitle {
  font-size: 16px;
  color: $orwell-darkgrey;
  margin-bottom: 20px;
  font-family: $sans;
}

p {
  font-size: 14px;
  font-family: $sans;
}

// HEADER
#header {
  background-color: $orwell-white;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  index: 99;
  border-bottom: solid 1px $orwell-grey;

  .header-logo {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0 60px;
    align-items: center;
    line-height: 70px;

    .header-logo-text {
      color: black;
      font-size: 24px;
      padding-left: 10px;
      vertical-align: middle;
      font-family: $sans;
      font-weight: bold;
      letter-spacing: 0.7px;
    }

    .header-logo-image {
      display: inline-block;

      img {
        height: 30px;
        width: 30px;
        vertical-align: middle;
      }
    }

  }
}

#header-search-wrapper {
  float: right;

  .header-search {
    line-height: 70px;
    vertical-align: middle;
    margin: 0 15px;

    input {
      border-radius: 10px;
      border: solid $orwell-grey 1px;
      width: 250px;
      padding: 5px 10px;
    }
  }
}

#header-menu-wrapper {
  float: right;
  height: 100%;

  .header-menu {
    display: flex;
    flex-direction: row;
    margin-right: 60px;
    height: 100%;
    align-items: center;
  }

  .header-menu-icon {
    font-size: 1.3em;
    color: black;
    padding: 0 10px;
  }
}

// MAIN
#social-media-page {
  background: white;
}
#main {
  height: 100%;
  width: 100vw;
  padding-top: 70px;
  background-color: $orwell-lightgrey;

  #main-wrapper {
    padding: 2% 10%;

    #main-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;

      .content-left {
        display: flex;
        flex-direction: column;
        flex-grow: 1.5;
        height: 100%;
        margin-right: 20px;
        max-width: 60%;
      }

      .content-right {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
        max-width: 40%;
      }

    }
  }
}

.card {
  padding: 30px 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: white;
  border: solid 1px $orwell-grey;
}

.advertisement-card {
  display: flex;
  flex-direction: column;
}

// POST CARD
.post-pic {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  vertical-align: middle;
}

.post-name {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
  margin: 0 5px;
  font-family: $sans;
  font-weight: bold;
}

.post-caption {
  color: $orwell-darkgrey;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 20px;
}

.post-picture-single img {
  width: 100%;
}

.post-picture-gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
  .post-picture-gallery-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 10px;
  }
  .post-picture-gallery-right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  img {
    width: 100%;
    &:first-child {
      margin-bottom: 10px;
    }
  }
}

.post-react {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  .post-react-icon {
    color: black;
    font-size: 1.5em;
    margin: 0 10px;
  }
}

.post-comment textarea {
  width: 100%;
  resize: none;
  border: none;
  background-color: $orwell-lightgrey;
  border-radius: 5px;
  padding: 10px;
  font-family: $sans;
  box-sizing: border-box;
  border: solid 1px $orwell-grey;
}

// TRENDING CARD

.trending-persons-card {
  background-color: white;
  padding: 20px 40px;
  line-height: 20px;

  .trending-person {
    img {
      display: inline-block;
      width: 25px;
      height: 25px;
      vertical-align: middle;
      border-radius: 20px;
      margin-right: 5px;
    }
    p {
      display: inline-block;
      margin: 0;
    }
    .add-person-icon {
      color: $orwell-white;
      font-size: 1.5em;
      display: inline-block;
      vertical-align: middle;
      float: right;
    }
    margin: 10px 0;
  }
}

// EYE

canvas {
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

#myCanvas {
  position: fixed;
  width: 100vw !important;
  height: 100vh !important;
  z-index: -2;
}

// WHOS WATCHING
#whos-watching {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  overflow-y: hidden;

  #prompt-wrapper {
    padding: 20%;
  }

  #prompt {
    margin: 0;
    font-size: 5em;
    font-family: $monospace;
    text-align: center;
  }

  #prompt-input {
    background-color: black;
    border: none;
    border-bottom: solid 2px white;
    width: 100%;
    color: white;
    font-size: 2em;
    line-height: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-family: $monospace;
    outline: none;
  }

  #prompt-submit {
    background-color: black;
    border: none;
    color: white;
    float: right;
    margin-top: 20px;
    font-family: $monospace;
    outline: none;
  }
}

#recording {
  width: 100vw;
  height: 100vh;

  img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }
}

#video {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: black;
}
